<h1>Bonjour !</h1>

<p>Veuillez confirmer votre adresse email en cliquant sur le lien suivant :  &#x1F447;</p>

<p>
    &#x1F517;
    <a href="{{ signedUrl }}">
        Confirmer mon email
    </a>    
    .
</p>

<p>&#x23F3; Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>À bientôt ! &#x1F590;</p>

<p>L'équipe Panterest</p>