{% extends 'layouts/base.html.twig' %}

{% block title %}Email de réinitialisation du mot de passe envoyé{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="mt-5 mb-3">
                Email de réinitialisation du mot de passe envoyé
            </h1>
            <hr>
            <p class="mb-3">
                Si un compte correspondant à votre adresse email existe, un email vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </p>
            <p class="mb-3">
                Si vous ne recevez pas d'email, veuillez vérifier votre dossier spam ou 
                <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
            </p>        
        </div>
    </div>
{% endblock %}
