<footer class="container text-center mt-5">
    <p class="text-muted">
        <small>
            &copy; {{ 'now'|date('Y') }} &middot; Construit avec &#x1F9E1; by
            <a href="https://adeline-i.github.io/CV/">Adeline-I</a>
        </small>
    </p>
</footer>